.pagr1
{
    float: right;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgb(184, 214, 236);
    width: 455px;;
    height: 250px;
}
.article_foto
{
    display:block;
    float: left;
    background-color: rgb(159, 189, 214);
    margin-right: 5px;
    width: 200px;
    height: 200px;
}
.article_antr
{
    display:block;
    float: left;
    background-color: rgb(163, 186, 202);
    width: 250px;
    height: 50px;
}
.article_tekstas
{
    display:block;
    float: left;
    background-color: rgb(156, 180, 233);
    width: 250px;
    height: 200px;
}
.mir
{
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(177, 218, 212);
    widows: 100%; 
    height: 45px;
}
.mira
{
    display: block;
    float: left;
    color: black;
    width: 120px;
    height: 70px;
}
.mira2
{
    display: block;
    float: right;
    color: black;
    width: 60px;
    height: 70px;
}
body
{
    background-color: #c6e4f1;
}
.jpg
{
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}
.text
{
    float: auto;
    font-size: 20px;
}
.h
{
    text-align: center;
}