body {
    background-color:#e7d9eb;
}
.jo{
    text-align: center;
    color: #604068;
}
.ph{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}
.ph2{
    display: block;
    margin-left: auto;
    width: 250px;
}
.ph3{
    display: block;
    margin-right: auto;
    width: 300px;
}
.jop#vot{
    text-align: right;
    color: #000392;
}
.qwe{
    text-align: center;
}
