body {
    background-color:#9e9e89;
}

.pirmas {
    color:#531c06;
    text-decoration-style: lavender;
}

.pirmas#liepa {
    text-align: center;
}
img{
    height: 20%;
}

table, td {
    border: 5px solid black;
    height: 100px;
}
table {
    border-collapse: collapse;
}
.jpg1 {
    height: 100px;
}
.jpg2{
    height: 150px;
}
.jpg3{
    height: 300px;
} 
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .column2 {
    float: right;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }